<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message%></p>
  </div>
<%end%>

<%= form_for @recipe do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>Recipe Items:</p>
  <%= f.fields_for :items do |i| %>
    <li>
      <%= i.label :quantity %>
      <%= i.text_field :quantity %>

      <%= i.label :unit %>
      <%= i.text_field :unit %>

      <%= i.label "Ingredient" %>
      <%= i.text_field :ingredient_name %>
    </li>
  <%end%>

  <p>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  </p>
  <p>
  <%= f.label 'Times made' %>
  <%= f.number_field :makes %>
  </p>
  <p>
  <%= f.label :serves %>
  <%= f.number_field :serves %>
  </p>
  <p>
  <%= f.label :comments %>
  <%= f.text_area :comments %>
  </p>
  <%= f.submit %>
<%end%>
