<%= form_for @recipe do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <%= f.label "List recipe items" %>
  <%= f.text_area :recipe_items %>
  <br>
  <p>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  </p>
  <p>
  <%= f.label 'Times made' %>
  <%= f.number_field :makes %>
  </p>
  <p>
  <%= f.label :comments %>
  <%= f.text_area :comments %>
  </p>
  <%= f.submit %>
<%end%>
