<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message%></p>
  </div>
<%end%>

<h2><%= @recipe.name %></h2>

<p>Serves <%= @recipe.serves %></p>

<p><b>Ingredients:</b></p>
  <ul>
    <% @recipe.items.each do |item| %>
      <li>
        <%= item.output %>
      </li>
    <%end%>
  </ul>

<p>Your rating: <%= @recipe.rating %></p>
<p>You've made this <%= @recipe.makes %> time(s)</p>

<p><i>Your notes:</i>
<%= @recipe.comments %></p>


<p><%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %></p>
<p><%= link_to 'Delete this recipe', recipe_path(@recipe), :method => :delete %></p>
<p><%= link_to "Return to home page", root_path %></p>
<p><%= link_to 'Log out', signout_path, :method => :delete %></p>
