<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message%></p>
  </div>
<%end%>

<h2><%= "Welcome, " + @user.name %></h2>
<div><%= link_to 'Your recipes', recipes_path(@user) %></div> <!-- check this path -->
<br>
<p><%= link_to 'Edit', edit_user_path(@user) %></p>
<p><%= link_to 'Log out', signout_path, :method => :delete %></p>
