<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message%></p>
  </div>
<%end%>

<h2><%= "Welcome to Recipe Manager, " + @user.name %></h2>
<br>
<div><%= link_to 'Your recipes', user_recipes_path(@user) %></div>
<p><%= link_to 'Add a new recipe', new_recipe_path %></p>
<% if @user.recipes.size > 0 %>
<br>
<p>Your highest rated recipe is: <%= link_to @user.highest_rated.name, recipe_path(@user.highest_rated) %></p>
<p>The recipe you've made the most is: <%= link_to @user.most_made.name, recipe_path(@user.most_made) %></p>
<p>Your recipe that serves the most people is: <%= link_to @user.serves_most.name, recipe_path(@user.serves_most) %></p>
<%end%>
<br>
<p><%= link_to 'Edit your information', edit_user_path(@user) %></p>
<p><%= link_to 'Log out', signout_path, :method => :delete %></p>
